@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Food Storage Solution</h1>
</div>

<p>Welcome to the Food Storage. Here you can check the food list on your website. You can also
    create, update, and delete food entries. Thank you!</p>
